.App {
  text-align: center;
  height: 300px;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header {
  margin-top: 0;
  background-color: #222;
}
#p-h1 {
  color: white;
  font-size: 3em;
  padding-top: 10px;;
  padding-bottom: 10px;
  font-weight: lighter;
}
form {
  width: 500px;
  margin: 30px auto;
  padding: 20px 55px;
  border: 1px solid #ccc;
  /* outline: 5px solid rgb(238, 238, 238, .65);
  border-radius: 3px; */
  box-shadow:
    0 0 10px 2px rgb(204, 204, 204);
}
label {
  font-size: 20px;
  text-align: left!important;
}
input {
  display: block;
  padding: 5px 16px;
  font-size: 1.5em;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
}
a.submit {
  margin-top: 20px;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  background-color: #007bff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgb(204, 204, 204);
}
.submit:hover {
  color: white;
  background-color: #318ff4;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
}
input.valid {
  border-color: #36cc36;
}
input.invalid {
  border-color: orange;
}
input + p {
  font-family: arial;
  font-size: .9em;
  font-weight: bold;
  margin: 0 10px;
  color: orange;
  opacity: 0;
  height: 0;
}
input.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}
